<h1>Submit your Application here</h1>

<%= form_tag("/job/apply", method: "post") do %>
    <%= hidden_field_tag 'jobdid',  params["jobDID"]  %>

    <% @Questions.ResponseBlankApplication.BlankApplication.Questions.Question.each do |question| %>
        <br>
        <%= label_tag question.QuestionID, question.QuestionText %>
        <%= text_field_tag(question.QuestionID, nil, :placeholder => question.QuestionText[0, 20] + "...") %>
    <% end %>

    <br>
    <%= submit_tag("Apply Now !") %>
<% end %>



