 <% @job = @jobdetail.ResponseJob.Job %>

<h1><%= @job.JobTitle %></h1>
<br><br>

 <%= hidden_field_tag 'jobdid',  @job.DID  %>

 <% if @job.ExternalApplication == 'True' %>
     <%= link_to "External Apply",
                 'https://www.careerbuilder.com/ApplyOnline/ExternalApply.aspx?useframes=True&JobDID='.to_s() + @job.DID,
                 :target => "_blank",
                 :id => 'externalLink'%>
 <% else %>
     <%= link_to "Apply Here", jobdetailapply_path(:jobDID => @job.DID),
                 :target => "_blank",
                 :id => 'internalLink'%>
 <% end %>
 <br><br>
 <%= @job.inspect %>
 <br><br>








