<!DOCTYPE html>
<html>
<head>
  <title>Raspberry Jobs</title>
</head>
<body>
    <br>
        <h1>Love You Sweets. Muuuuaaaaah !!!</h1>
    <br>
    <%= t "lang_select" %>: <a href="/?locale=fr" >Français</a> | <a href="/" >English</a>
    <br><br>
    <div class="hero-unit" style="height:170px;">
      <div  style="float:left;">
        <h4><%= t "search_box_text" %></h4>
        <%= form_tag("/jobresults", method: "get") do %>
            <%= text_field_tag(:kw, nil, :placeholder => "Keyword") %>
            <br>
            <%= text_field_tag(:loc, nil, :placeholder => "Location") %>
            <br>
            <%= submit_tag("Find Jobs") %>
        <% end %>
      </div>

      <div style="float: left; width:100px;">&nbsp;</div>

      <div style="float:left;">
        <div style="float: left; width:20px;">&nbsp;</div>
        <h4><%= t "category_jobs" %></h4>
        <ul style="width:120px; float:left;list-style-type: none;">
          <li><a href="/jobresults?kw=construction">Construction</a></li>
          <li><a href="/jobresults?kw=driver">Driver</a></li>
          <li><a href="/jobresults?kw=sales">Sales</a></li>
          <li><a href="/jobresults?kw=software">Software</a></li>
        </ul>
        <ul style="width:120px; float:left;list-style-type: none;">
          <li><a href="/jobresults?kw=Retail">Retail</a></li>
          <li><a href="/jobresults?kw=Transport">Transport</a></li>
          <li><a href="/jobresults?kw=HealthCare">HealthCare</a></li>
          <li><a href="/jobresults?kw=Training">Training</a></li>
        </ul>
        <ul style="width:120px; float:left;list-style-type: none;">
          <li><a href="/jobresults?kw=Education">Education</a></li>
          <li><a href="/jobresults?kw=Accountancy">Accountancy</a></li>
          <li><a href="/jobresults?kw=Science">Science</a></li>
          <li><a href="/jobresults?kw=Manufacturing">Manufacturing</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="span4">
        <h4><%= t "upload_cv" %></h4>
        <p>Upload your CV today, and receive notice of customised matching vacancies, straight to your email.</p>
        <p><a href="www.careerbuilder.co.uk/JobSeeker/Resumes/PostResumeNew/PostResumeStart.aspx" class="btn">Upload Now »</a></p>
      </div>

      <div class="span4">
        <h4><%= t "try_search" %></h4>
        <p>Because Java is not just a coffee bean... Our search understands keywords and similar phrases to retrieve your best results.</p>
        <p><a href="/jobresults" class="btn">Start Searching »</a></p>
      </div>

      <div class="span4">
        <h4><%= t "feat_emps" %></h4>
        <p>Top companies are looking for smart workers! They may be looking for a job seeker just like you. Give it a try !</p>
        <p><a href="http://www.careerbuilder.co.uk/INTL/jobseeker/featuredemployers.aspx?sc_cmp2=JS_UK_HP_FEMORE" class="btn">View More »</a></p>
      </div>
    </div>

</body>
</html>
