<!DOCTYPE html>
<html>
<head>
  <title>Raspberry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/#" class="brand">Raspberry Jobs</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/#"><%= t "home" %></a></li>
          <li><a href="/jobresults"><%= t "find_job" %></a></li>
        </ul>
        <form class="navbar-form pull-right">
          <ul class="nav">
            <li><a href="#"><%= t "sign_in" %></a></li>
            <li><a href="#"><%= t "register" %></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="container" style="padding:10px 50px">
    <%= yield %>


  <hr>
  <div class="footer">
    © Sandy 2013
  </div>

</div>



</body>
</html>
